@custom-media --mq-medium (max-width: 800px);
@custom-media --mq-small (max-width: 550px);


:root {
  --primary-color: #cfffaf;
  --background-color: #ffffff;
  --font-color: #000000;
}

body {
  height: 100vh;
  width: 1440px;
  background-color: #cfffaf;
  background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0));
  color: var(--font-color);
  transition: background-color 1s ease;
}

section {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
   text-align: center;
   padding: 30px;
}

section h1 {
  text-align: left;
  margin-bottom: 20px;
}
